<div class="container-fluid" ng-app="minesweeper">
</div>

<div class="container" ng-controller="EventsCtrl">
  <h1>Minesweeper</h1>
  <div>
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div ng-if="game.status != 'started'">
          You {{game.status}}!
        </div>
        <table id="board">
          <tbody>
            <tr ng-repeat="tile_row in tile_rows">
              <td ng-repeat="tile in tile_row" ng-click="reveal(tile)" ng-right-click="toggleFlag(tile)" ng-class="{ 'revealed': tile.revealed || (game.status == 'lost' && tile.mine) }">
                <i ng-if="tile.flagged && !tile.revealed" class="fa fa-flag"></i>
                <i ng-if="game.status == 'lost' && tile.mine" class="fa fa-bomb"></i>
                <div ng-if="tile.revealed">
                  <p ng-if="!tile.mine && tile.neighbor_mines_count > 0">
                    {{tile.neighbor_mines_count}}
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <h5>Click on cell to reveal it</h5>
        <h5>Click righ on cell to flag/unflag it</h5>
      </div>
    </div>
  </div>
  <div id="new-panel">
    <div class="form-group">
      <label for="rows">Rows:</label>
      <input ng-model="rows" id="rows"/>
    </div>
    <div class="form-group">
      <label for="pwd">Columns:</label>
      <input ng-model="columns"/>
    </div>
    <div class="form-group">
      <label for="pwd">Mines:</label>
      <input ng-model="mines_count"/>
    </div>
    <button class="btn btn-primary" ng-click="createNewGame()">Create new game</button>
  </div>
</div>
